{% extends "base.twig" %}
{% block title %} Edit {{ entry['title'] }} {% endblock %}
{% block css %}
<link rel="stylesheet" href="../../../public/css/normalize.css">
<link rel="stylesheet" href="../../../public/css/site.css">
{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="edit-entry">
        <h2>Edit Entry</h2>
          <form method="post">
            {% import "form.twig" as form %}
            {{ form.input('title') }}
            {{ form.input('body') }}
            <input type="submit" value="Publish Entry" class="button">
            <a href="#" class="button button-secondary">Cancel</a>
          <input type="submit" value="Save Entry" class="button">
          <a href="#" class="button button-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </section>


{% endblock %}
