{% extends "base.twig" %}
{% block title %}Create a New Entry{% endblock %}
{% block css %}
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/site.css">
{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="new-entry">
        <h2>Publish New Entry</h2>
        <form method="post">
          {% import "forms.twig" as forms %}
            {{ forms.input('title') }}
            {{ forms.textarea('body') }}
          <input type="submit" value="Publish Entry" class="button">
          <a href="/" class="button button-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
